 <!-- <div class="contenedor-carousel text-center"> -->

  <!-- <ngb-carousel class="componente-carousel" Slide> -->
        <!-- <ng-template ngbSlide *ngFor="let product of products">

            <div class="contenedor">
            
            <div class="carouselImg">
            <img  width="100%" height ="400px" src="{{product.image}}" alt="">
                </div>

                <div class="carouselImg">
            <img width="100%" height ="400px" src="{{product.image1}}" alt="">
                </div>

                <div class="carouselImg">
            <img width="100%" height ="400px" src="{{product.image2}}" alt="">
                </div>
             
                <div class="carouselImg">
           <img width="100%" height ="400px" src="{{product.image3}}" alt="">
            </div>
        </div>
        <br>
        <br>
        </ng-template>
    </ngb-carousel>
</div> -->
