<div class="contenedor container">
<h1 class="text-center">Anderson Jose Castillo Muñoz
</h1>
<hr>

    <h3>FORMACIÓN ACADÉMICA</h3>
    <p> •	Técnico laboral en desarrollo web Frontend – Kuepa Edutech 	2022-2023</p>
    
    <h3>EXPERIENCIA PROFESIONAL</h3>
   <p> <b>Indra Colombia SAS </b>
    Inicio: mayo 2022 – Fin: junio 2023
<br>
   <b> Proyecto:</b> Banco de la Republica 
        </p> 
     <h4>Funciones realizadas:</h4>
    <p>
        •Analista QA - Realizando diseños de casos de pruebas, 	planificando y ejecutando pruebas masivas e individuales tanto 	de usabilidad como funcionales, además de documentar los 	casos de pruebas cumpliendo con los estándares establecidos, 	para realizar una entrega de alta calidad, también como apoyo frontend.
    </p>
   <h3> CURSOS Y TITULACIONES</h3>
      <p>  •Certificado Backend con Java  – Alura-Oracle – 343 Horas 
        2022– 	2023
        <br>
        •Desarrollo Web -Platzi 
        2022-2023
    </p>

    <h3>IDIOMAS </h3>
      <p>•	Inglés – Centro de Idiomas Smart – B1
            2021-2022
        </p> 
       
</div>
